.App {
  text-align: center;
  
}

.tour-subcontainer{
  display:flex;
  justify-content:space-evenly;
}
.tour-image{
  width:50%;
  height:50%;
}
.tour-paragraph{
  width:50%;
  height:50%;
  font-size: 1.2rem;
  text-align: justify;
}
.tour-info{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:1rem;
}
.tour-price{
  background-color: rgb(6, 237, 253)
}
.tour-button{
  width:15rem;
  height:3rem;
  border-radius: 0.5rem;
  background-color:white;
  color:rgb(235 8 8);
  font-size:1.2rem;

}




